* {
	padding: 0;
	margin: 0;
}

canvas {
	background: rgb(172, 172, 172);
	display: block;
	margin: 0 auto;
	width: auto;
	height: 480px;
	/* margin-top: 3%; */
}

#score {
	background: rgb(235, 179, 96);
	display: block;
	width: auto;
	height: 50px;
}
